{% extends "profile.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    {% for basket in baskets.values() | sort(attribute = 'transaction_date', reverse = True) %}
    <div class="mb-3">
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-start">Name</th>
                        <th class="text-start">Class</th>
                        <th class="text-start">Brand</th>
                        <th class="text-start">Country</th>
                        <th class="text-start">Region</th>
                        <th class="text-start">Volume</th>
                        <th class="text-end">Alc %</th>
                        <th class="text-end">Year</th>
                        <th class="text-end">Quantity</th>
                        <th class="text-end">Unit Price</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in basket.purchases | reverse %}
                        <tr>
                            <td class="text-start">{{ purchase.name }}</td>
                            <td class="text-start">{{ purchase.class }}</td>
                            <td class="text-start">{{ purchase.brand }}</td>
                            <td class="text-start">{{ purchase.country }}</td>
                            <td class="text-start">{{ purchase.region }}</td>
                            <td class="text-end">{{ "%3.2f" | format(purchase.volume) }} L</td>
                            <td class="text-end">{{ "%3.2f" | format(purchase.alcohol) }} %</td>
                            <td class="text-end">{{ purchase.year }}</td>
                            <td class="text-end">{{ purchase.quantity }}</td>
                            <td class="text-end">{{ purchase.item_price }}</td>
                            <td class="text-end">{{ purchase.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <p>Price paid: {{ "$ %3.2f" | format(basket.basket_price) }}
                </p>
            </div>
            <div class="mb-3">
                <p>Points earned: {{ "%3.2f" | format(basket.points_earned) }}
                </p>
            </div>
            <div class="mb-3">
                <p>Transaction Date: {{ basket.transaction_date }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}